<h1>Compra #<%= compra.id %></h1>
<p><strong>Fecha:</strong> <%= compra.fecha.toLocaleString() %></p>
<p><strong>Total:</strong> $<%= compra.total %></p>

<h3 class="mt-4">Plantas compradas</h3>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Planta</th>
      <th>Precio Unitario</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% items.forEach(i => { %>
      <tr>
        <td><%= i.planta.genero %> <%= i.planta.especie %></td>
        <td>$<%= i.precio_unitario %></td>
        <td><%= i.cantidad %></td>
        <td>$<%= i.subtotal %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href="/compras" class="btn btn-secondary mt-3">Volver</a>