<main class="container">
  <h1 class="text-center display-2 fw-bold my-5">ERROR {{ status }}</h1>
  <div class="container text-center p-5 pt-0">
    <img class="error" src="/img/error.png" alt="imagen error">
    <p class="fs-5">{{ message }}</p>
  </div>
</main>
