<main class="container">
  <h2 class="text-center display-2 fw-bold my-5">ERROR {{ status }}</h2>
  <div class="container text-center p-5 pt-0">
    <img class="error mx-auto col-12" src="/img/error.png" alt="imagen error">
    <p class="fs-5">{{ message }}</p>
  </div>
</main>
