<footer class="bg-success-subtle text-center text-success-emphasis p-5">
  <div class="container">
    <p class="mb-1">Natalia Devia</p>
    <p class="p-0 mb-0">&copy; Todos los derechos reservados</p>
  </div>
</footer>