<nav class="bg-pink p-3">
  <div class="container">
    <a class="btn btn-light button-hover fw-bold mx-2" href="/plantas">Plantas</a>
    <a class="btn btn-light button-hover fw-bold mx-2" href="/compras">Compras</a>
  </div>
</nav>